<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
        {% include 'cdnlines.html' %}
    </head>
    <style>
        .c{
            background: linear-gradient(to right,lightpink,wheat);
        }
        body{
            background: linear-gradient(to left,gray,skyblue);
        }
    </style>
    <body>
        {% include 'navbar.html' %}
        <div class="container-fluid">
            <div class="row">
                <div class="offset-md-4 col-md-4 mt-5 c">
                    <h2 class="text-center ">For Any Queries Contact This Number :1234512345 </h2>
                </div>
            </div>
        </div>
    </body>
</html>